/*#if (SampleContent)*/
:root {
    --app-lighter: #FF6347;
    --app-light: #FF5733;
    --app-primary: #F2431D;
    --app-dark: #E43712;
    --app-secondary: #FFc107;
    --navbar-height: 50px;
    --tabbar-height: 50px;
}

html, body {
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
}

.bg-app-lighter {
    background-color: var(--app-lighter);
}

.bg-app-light {
    background-color: var(--app-light);
}

.bg-app-primary {
    background-color: var(--app-primary);
}

.bg-app-dark {
    background-color: var(--app-dark);
}

.bg-app-secondary {
    background-color: var(--app-secondary);
}

.text-app-lighter {
    color: var(--app-lighter);
}

.text-app-light {
    color: var(--app-light);
}

.text-app-primary {
    color: var(--app-primary);
}

.text-app-dark {
    color: var(--app-dark);
}

.text-app-secondary {
    color: var(--app-secondary);
}



.status-bar-safe-area {
    display: none;
}

@supports (-webkit-touch-callout: none) {
    .status-bar-safe-area {
        display: flex;
        position: sticky;
        top: 0;
        height: env(safe-area-inset-top);
        background-color: #f7f7f7;
        width: 100%;
        z-index: 1;
    }

    .flex-column, .navbar-brand {
        padding-left: env(safe-area-inset-left);
    }
}
