@inherits LayoutComponentBase



<Navbar />

<div class="main-content">
    @Body
</div>

<Tabbar />

<style>
    .main-content {
        padding-bottom: calc(var(--tabbar-height) + 5px);
        overflow-y: auto;
    }
</style>

