
<div class="navbar bg-app-primary text-white">
    <h3 class="text-center m-0 p-0">Fresh Veggies</h3>
    <i class="bx bx-user bx-sm"></i>
</div>

@code {

}


<style>
    .navbar {
        height: var(--navbar-height);
        position: sticky;
        z-index: 10;
        top: 0;
        display: flex;
        justify-content: space-between;
        padding: 10px;
        font-size: 18px;
        box-shadow: 0 5px 8px rgba(0,0,0,0.1)
    }
</style>